{% load mathfilters %}

<!DOCTYPE html>
<html>
<head>
    <title>Order Confirmation</title>
</head>
<body>
    <h2>Thank you for your order, {{ user.first_name }}!</h2>
    <p>Your order <strong>#{{ order.id }}</strong> has been placed successfully.</p>
    <h4>Order Summary:</h4>
   <ul>
    {% for item in items %}
        <li>{{ item.quantity }} x {{ item.product.name }} @ ₹{{ item.price }} = ₹{{ item.quantity|mul:item.price }}</li>
    {% endfor %}
</ul>
    <p><strong>Total:</strong> ₹{{ order.total }}</p>
    <p>We’ll notify you once your items are shipped.</p>
</body>
</html>
